bootstraphostids:
{% for item in allbootstraphostids|dict2items %} 
# hostname: {{ item.key }}
  - {{item.value}}    
 {% endfor %}

masterhostids:
{% for item in allmasternodehostsids|dict2items %}
# hostname: {{ item.key }}
  - {{item.value}} 
{% endfor %}

workerhostids:
{% for item in allworkernodehostsids|dict2items %}
# hostname: {{ item.key }}
  - {{item.value}}     
{% endfor %}


helperhostids:
{% for item in allhelpernodehostids|dict2items %}
# hostname: {{ item.key }}
  - {{item.value}}     
{% endfor %}