
[local_host]
127.0.0.1 ansible_connection=local



[vsi_sl_guest_bootstrap]
{% for item in allbootstrapnodehostsinfo|dict2items %} 
# hostname: {{ item.key }}
{{item.value}} ansible_user=root ansible_ssh_private_key_file={{role_path}}/files/sl_ssh_rsa ansible_ssh_common_args='-o StrictHostKeyChecking=no -o IdentitiesOnly=yes'  ansible_become=yes       
 {% endfor %}

[vsi_sl_guest_masters]
{% for item in allmasternodehostsinfo|dict2items %}
# hostname: {{ item.key }}
{{item.value}} ansible_user=root ansible_ssh_private_key_file={{role_path}}/files/sl_ssh_rsa ansible_ssh_common_args='-o StrictHostKeyChecking=no -o IdentitiesOnly=yes'  ansible_become=yes          
{% endfor %}

[vsi_sl_guest_workers]
{% for item in allworkernodehostsinfo|dict2items %}
# hostname: {{ item.key }}
{{item.value}} ansible_user=root  ansible_ssh_private_key_file={{role_path}}/files/sl_ssh_rsa ansible_ssh_common_args='-o StrictHostKeyChecking=no -o IdentitiesOnly=yes'  ansible_become=yes       
{% endfor %}

#[endof_ocp_sl_guest]


[vsi_sl_helper_guest]
{% for item in allhelpernodehostsinfo|dict2items %}
# hostname: {{ item.key }}
{{item.value}} ansible_user=root ansible_ssh_private_key_file={{role_path}}/files/sl_ssh_rsa ansible_ssh_common_args='-o StrictHostKeyChecking=no -o IdentitiesOnly=yes'  ansible_become=yes      
{% endfor %}

#[endof_sl_guest]