apiVersion: v1
baseDomain: "{{ base_domain }}"
compute:
- hyperthreading: Enabled
  name: worker
  replicas: 3
controlPlane:
  hyperthreading: Enabled
  name: master
  replicas: 3
metadata:
  name: {{ base_domain_prefix }}
networking:
  machineCIDR: "{{ portable.subnet }}"
  clusterNetworks:
  - cidr: 172.30.0.0/16
    hostPrefix: 23
  networkType: OpenShiftSDN
  serviceNetwork:
  - 172.21.0.0/16
platform:
  none: {}
pullSecret: '{{ pullsecret }}'
sshKey: '{{ new_rsa_key['content'] | b64decode  }}'
